.products_container {
    display: grid;
    grid-template-columns: 23% 75%;
    grid-gap: 2%;
    width: 90%;
    margin: auto;
}

/* .products_container_child{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    
} */

.products_box {
    display: grid;
    grid-template-columns: repeat(3, 33%);
}
.catHead{
    padding-left: 20px;
    text-align: left;
}
.productCard {
    border: 1px solid lightgray;
    padding : 20px
}

.rat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productCard img {
    width: 100%;
}