.restaurent_prod_container {

}

.all_restaurent_text{
    padding: 5%;
    background-color: #EC6F5B;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.rest_container {
    width: 90%;
    margin: auto;
}
.rest_nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;

}
.rest_navigation{
    display: flex;
}
.rest_navigation > div {
    padding: 20px;
    cursor: pointer;
}
.to_top{
    color: #E46D47;
    text-decoration: none;
    padding: 3px 8px;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.rest_products_cont{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-top: 40px;
}





















