.side_nav_container{
    border: 1px solid lightgray;
    box-shadow:  0 2px 4px 0 rgb(48 56 97 / 20%);
    height: 545px;
    padding-top: 35px;
}
.side_nav_child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}