.side_nav_container{
    border: 1px solid lightgray;
    box-shadow:  0 2px 4px 0 rgb(48 56 97 / 20%);
    height: 440px;
    padding-top: 35px;
    padding-right: 15px;
    position: sticky;
    top:120px;
 
}
.side_nav_child{
    display: flex;
    align-items: center;
    text-align: left;
    height: 85px;
    cursor: pointer;
    text-decoration: none;
    padding-left: 10px;
}


.side_nav_child img {
    width: 50px;
    margin-right: 20px;
    transition: transform 0.9s;
}
.side_nav_child span {
    font-weight: 500;
    color: #282c3f;
    font-size: 18px;
}
.side_nav_child:hover  span {
    color: #E46D47;
}
.side_nav_child:hover img {
    transform: scale(1.2);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}