.item{
    width: 100%;
    height: 420px;
    background-color: black;
    color: #fff;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 150px;
}
.item > img{
    height: 85%;
    margin: 10px;
}
.item > img:hover{
    height: 88%;
    cursor: pointer;
    transition: all .2s ease;
}