.item{
    width: 100%;
    height: 380px;
    background-color: #171A29;
    color: #fff;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 100px;
}
.item > img{
    height: 75%;
    margin: 10px;

    transition: transform 0.9s;
}
.item > img:hover{
    transform: scale(1.05);
    /* height: 85%; */
    cursor: pointer;
    /* transition: all .2s ease; */
}